{% extends "forum.html" %}
{% load extra_tags_notes %}

{% block menu_link %}
    <li><a href="{% url "topic-update" topic.pk %}">Update</a></li>
    <li><a href="{% url "topic-delete" topic.pk %}">Delete</a></li>
    <li>-</li>
    <li><a href="#" onclick="window.history.go(-1);">Back</a></li>
{% endblock %} 

{% block content %}
    <h1>Topic: "{{ topic.title }}"</h1>

    <hr>

    <h4>Created by: {{ topic.created_by }}</h4>
    <h4>Users assigned:
    {% for user in assigned_users %}
        {{ user.username }},
    {% empty %}
        No assigned users yet.
    {% endfor %}
    </h4>

    <hr>

    <!-- Notes table -->
    <table class="table">
        <thead>
            <tr>
                <th>Note title</th>
                <th>Creation date</th>
                <th style="white-space: nowrap; width: 1%">Actions</th>
                <th style="white-space: nowrap; width: 1%"></th>
            </tr>
        </thead>

        {% for note in notes %}
        <tbody>
            <tr class="{{ note.get_importance_class }}">
                <td><a href="{% url 'note-detail' note.pk %}">{{ note.title }}</a></td>
                <td>{{ note.created }}</td>

                <!-- Buttons -->
                <td><a href="{% url 'note-detail' note.pk %}" class="btn btn-default">Details</a></td>
                <td><a href="{% url 'note-delete' note.pk %}" class="btn btn-danger">Delete</a></td>
            </tr>
        </tbody>
        {% empty %}
        <tbody>
            <tr>
                <td>None notes yet.</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
        </tbody>
        {% endfor %}    
    </table>



{% endblock %}
